.profile-popup {
  position: fixed;
  top: 38.5%;
  left: 86%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  max-width: 300px;
  max-height: 385px;
  width: 100%;
  padding: 15px;
  background: var(--white);
  border-radius: 20px;
  box-shadow: 0px 4px 18.3px rgba(0, 0, 0, 0.25);
  display: none;
}

.popup-content {
  background: var(--light-green-popup-bg);
  border-radius: 12px;
  padding: 10px 15px;
  height: 100%;
}

#profilePopup .profile-card {
  background: var(--white);
  border-radius: 8px;
  padding: 20px 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#profilePopup .profile-image {
  width: 74px;
  height: 74px;
  margin-bottom: 15px;
}

#profilePopup .profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#profilePopup .profile-info {
  text-align: center;
  margin-bottom: 15px;
}

#profilePopup .profile-name {
  color: var(--primary-green);
  font-size: 18px;
  font-weight: 400;
  line-height: 38px;
  margin: 0;
}

#profilePopup .profile-email {
  color: var(--primary-green);
  font-size: 12px;
  line-height: 16.8px;
  margin: 0;
}

.role-badge {
  background: var(--light-green-popup-bg);
  border-radius: 10px;
  padding: 8px 22px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 15px 0;
}

.role-border {
  width: 4px;
  height: 44px;
  background: var(--primary-green);
}

.role-text {
  color: var(--primary-green);
  font-size: 15px;
  line-height: 21px;
}

#profilePopup .close-btn {
  width: 48px;
  height: 48px;
  border: none;
  background: var(--white);
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

#profilePopup .close-btn:hover {
  background-color: var(--hover-red);
}

#profilePopup .close-btn:focus {
  outline: none;
}

#profilePopup .close-icon {
  width: 24px;
  height: 24px;
  color: #3d3e3e;
  transition: color 0.3s ease;
}

#profilePopup .close-btn:hover .close-icon {
  content: url("/assets/icons/close-icon-red.svg");
}

@media (max-width: 800px) {
  .profile-popup {
    max-width: 350px;
    max-height: 320px;
  }

  #profilePopup .profile-image {
    width: 60px;
    height: 60px;
  }

  #profilePopup .profile-name {
    font-size: 18px;
    line-height: 24px;
  }

  #profilePopup .profile-email {
    font-size: 11px;
  }

  .role-badge {
    padding: 12px 25px;
  }

  .role-border {
    height: 45px;
  }

  .role-text {
    font-size: 13px;
  }

  #profilePopup .close-btn {
    width: 40px;
    height: 40px;
  }
}
